name: Build

on: [push, workflow_dispatch]

jobs:
  build-on-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: "Configure and build"
        run: |
          cmake . -B build -DFMU4CPP_BUILD_TESTS=ON -DFMU4CPP_BUILD_EXAMPLES=ON
          cmake --build build

      - name: "Read model path/name"
        run: |
          mp=$(cat build/model.txt)
          mp=$(echo "$mp" | tr -d '\r' | xargs)
          mb=$(basename "$mp")
          printf 'MODEL_PATH=%s\n' "$mp" >> $GITHUB_ENV
          printf 'MODEL_BASENAME=%s\n' "$mb" >> $GITHUB_ENV

      - name: "Download and run fmusim"
        run: |
          folder=Reference-FMUs-0.0.39
          zip="$folder.zip"
          url="https://github.com/modelica/Reference-FMUs/releases/download/v0.0.39/$zip"
          
          wget -q "$url" -O "$zip"
          mkdir -p "$folder"
          unzip -q "$zip" -d "$folder"
          cd Reference-FMUs-0.0.39/fmusim-x86_64-linux
          ./fmusim ../build/${{ env.MODEL_PATH }}/${{ env.MODEL_BASENAME }}.fmu

      - name: Test
        run: |
          ctest --no-tests=error --test-dir build/export/tests --output-on-failure


  build-on-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: "Configure and build"
        run: |
          cmake . -B build -DFMU4CPP_BUILD_TESTS=ON -DFMU4CPP_BUILD_EXAMPLES=ON -A x64 
          cmake --build build --config Release

      - name: "Read model path/name"
        run: |
          $mp = (Get-Content -Raw build/model.txt).Trim()
          "MODEL_PATH=$mp" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding UTF8
          $mb = Split-Path $mp -Leaf
          "MODEL_BASENAME=$mb" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding UTF8

      - name: "Download and run fmusim"
        run: |
          $folder = "Reference-FMUs-0.0.39"
          $zip = "$folder.zip"
          $url = "https://github.com/modelica/Reference-FMUs/releases/download/v0.0.39/$zip"
          
          Invoke-WebRequest -Uri $url -OutFile $zip
          Expand-Archive -Path $zip -DestinationPath $folder -Force
          cd "$folder/fmusim-x86_64-windows"
          ./fmusim.exe "../build/${env:MODEL_PATH}/${env:MODEL_BASENAME}.fmu"

      - name: Test
        run: |
          ctest -C Release --no-tests=error --test-dir build/export/tests --output-on-failure
